<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get">
       <p><input type="text" name="name" placeholder="name"></p> 
        <p><input type="text" name="fameliiiiiia" placeholder="familiiiiia"></p>
        <p><textarea name='nupzh' placeholder='nupzh'cols="30" rows="10"></textarea> </p>
        <p><input type="submit" value="wakawaka eiei"></p>
    </form>
    <h2>отзовы</h2>
    {{uzbek}}
    {{privet}}
    <p>{{abhazia}}</p>
</body>
</html>